@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}




:root {
    --primary-color-2: #e1c20f;
    --primary-color: #ffa500;
    --secondary-color: #0e1525;
    --bg-dark-blue: #091020;
    --bg-white: #cfcfcf;
    --gray-color: #c6c9d8bf;
    --gradient-color: linear-gradient(-224deg, var(--primary-color) 0, #337DFF 100%);

    --primary-font: 'Poppins', sans-serif;
    --primary-text: #ffa500;
    --text-gray: #c6c9d8bf;
    --text-white: #ffff;
}




/* Navbar Start */
#navbar {
    background: #f9f9f9;
    padding: 0px;
}

#logo {
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

#logo span {
    color: #ffa500;
}

.navbar-toggler span {
    color: #ffa500;
}

.navbar-nav {
    margin-left: 20px;
}

.nav-item .nav-link {
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover {

    color: var(--primary-color);
}

#navbar form button {
    background: orange;
    color: white;
    border: none;
}

#authLinks {
    display: inline;
    margin-left: 250px;
    position: absolute;
    left: 543px;
    top: 31px;
}

#login {
    margin-left: 500px;
    text-decoration: none;
    position: absolute;
    left: 10px;
    bottom: -15px;
}

#register {
    margin-left: 500px;
    text-decoration: none;
    position: absolute;
    left: 60px;
    bottom: -15px;
}

/* Navbar End */

/* hero section */

.hero .carousel-inner .carousel-item img {
    height: 650px;
    width: 100%;
}

/* booking section */
/* styles.css */



.container {
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#checkCitiesBtn {
    display: block;
    margin: 20px auto;
}

#citiesTableContainer {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #dee2e6;
}

th,
td {
    padding: 12px;
    text-align: left;
}

thead {
    background-color: #007bff;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9ecef;
}

/* book */

#book{
    background: var(--text-gray) !important;
    
  
}

#bookingForm{
    display: flex;
    flex-direction: column !important;
    
}



form{
    margin-right: 100px;
    margin-top: 10px;
    
}

form input{
    border: none;
    box-shadow: 1px 0px 15px 0px black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    background: transparent;
}

form input:hover{
    background-color: rgb(240, 238, 238);
}

#book button{
    margin-top: 20px;
}

#book form#bookingForm #submit,
#book form#bookingForm #checkCities{
    height: 40px ;
    width: 100px ;
}

.book-img img{
    height: 500px;
    width: 500px;
    margin-top: 10px;
    
}

/* book ends */

/* Section Packages Start */
.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
    color: #ffa500;
}
.packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.packages .card img{
    border-radius: 5px;
}
.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.packages .card .card-body p{
    font-size: 15px;
}
.checked{
    color: #ffa500;
}
.star i{
    font-size: 15px;
}
.packages .card .card-body h6{
    font-size: 20px;
}
.packages .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background: #ffa500;
    color: white;
    border-radius: 5px;
}
/* Section Packages End */




/* Section Services Start */
.services{
    background: #f9f9f9;
    margin-top: 50px;
}
.services .card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
    width: 90% !important;
    transition: all 0.5s ease-in-out;
}
.services .card i{
    font-size: 80px;
    text-align: center;
    color: #ffa500;
    margin-top: 20px;
    
}
.services .card .card-body h3{
    font-weight: 600;
}
.services .card .card-body{
    text-align: center;
}
.services .card:hover{
    transform: translateY(-5px);
}
/* Section Services End */

.nav-item {
    transition: transform 0.5s ease-in-out;
   
  }
  
  
  .nav-item.animate {
    transform: scale(1.2); 
  }
