@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}




:root {
    --primary-color-2: #e1c20f;
    --primary-color: #ffa500;
    --secondary-color: #0e1525;
    --bg-dark-blue: #091020;
    --bg-white: #cfcfcf;
    --gray-color: #c6c9d8bf;
    --gradient-color: linear-gradient(-224deg, var(--primary-color) 0, #337DFF 100%);
    --main-text: #f0390f;
    --primary: #25316D;
    --secondary: #2B9BFF;
    --light: #EFFDF5;
    --dark: #2B3940;

    --primary-font: 'Poppins', sans-serif;
    --primary-text: #ffa500;
    --text-gray: #c6c9d8bf;
    --text-white: #ffff;
}



.hero {
    margin-top: 70px;
    height: 100vh !important;
}

.hero img {
    height: 600px !important;
}

.services {
    height: 100vh;
}

.car-control i {
    font-size: 40px;
    background: var(--primary-text);
    padding: 15px;
    border-radius: 50%;
}

/* Navbar Start */
#navbar {
    background: #f9f9f9;
    padding: 0px;
}

#logo {
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

#logo span {
    color: #ffa500;
}

.navbar-toggler span {
    color: #ffa500;
}

.navbar-nav {
    margin-left: 20px;
}

.nav-item .nav-link {
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover {

    color: var(--primary-color);
}

.nav-item .nav-link.active {
    color: var(--primary-color);
}

#navbar form button {
    background: orange;
    color: white;
    border: none;
}

#authLinks {
    display: inline;
    margin-left: 250px;
    position: absolute;
    left: 543px;
    top: 31px;
}

#login {
    margin-left: 500px;
    text-decoration: none;
    position: absolute;
    left: 10px;
    bottom: -15px;
}

#register {
    margin-left: 500px;
    text-decoration: none;
    position: absolute;
    left: 60px;
    bottom: -15px;
}

/* Navbar End */

/* hero section */

.hero .carousel-inner .carousel-item img {
    height: 750px !important;
    width: 100%;
}

.carousel-caption h3 {
    margin-bottom: 400px;
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: var(--main-text);


}

.carousel-item{
    position: relative;
}
.carousel-caption p {
    bottom: 290px;
    left: 70px;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 800;
    color:blue;
    position: absolute;

}

/* booking section */
/* styles.css */



/* .container {
    max-width: 800px;
    margin: auto;
} */

h1 {
    text-align: center;
    margin-top: 20px;
}

#checkCitiesBtn {
    display: block;
    margin: 20px auto;
}

#citiesTableContainer {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #dee2e6;
}

th,
td {
    padding: 12px;
    text-align: left;
}

thead {
    background-color: #007bff;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9ecef;
}

/* book */

#book {
    background: var(--text-gray) !important;


}

#bookingForm {
    display: flex;
    flex-direction: column !important;

}



form {
    margin-right: 100px;
    margin-top: 10px;

}

form input {
    border: none;
    box-shadow: 1px 0px 15px 0px black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    background: var(--text-gray);
    color: black;
}

form input:hover {
    background-color: rgb(240, 238, 238);
}

#book button {
    margin-top: 20px;
}

#book form#bookingForm #submit,
#book form#bookingForm #checkCities {
    height: 40px;
    width: 100px;
}

.book-img img {
    height: 500px;
    width: 500px;
    margin-top: 10px;

}

/* book ends */

/* Section Packages Start */
.main-txt h1 {
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}

.main-txt h1 span {
    color: #ffa500;
}

.packages .card {
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.packages .card img {
    border-radius: 5px;
}

.packages .card .card-body {
    background: transparent;
}

.packages .card .card-body h3 {
    font-size: 25px;
    font-weight: 600;
}

.packages .card .card-body p {
    font-size: 15px;
}

.checked {
    color: #ffa500;
}

.star i {
    font-size: 15px;
}

.packages .card .card-body h6 {
    font-size: 20px;
}

.packages .card .card-body a {
    padding: 10px;
    text-decoration: none;
    background: #ffa500;
    color: white;
    border-radius: 5px;
}

/* Section Packages End */




/* Section Services Start */
.services {
    background: #f9f9f9;

}

.services .row .main-txt h1 {
    margin-top: 80px;
}

.services .col-md-4 {
    margin-top: 20px;
}

.services .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
    /* width: 90% !important; */
    transition: 0s ease-out;

}

.services .card i {
    font-size: 80px;
    text-align: center;
    color: #ffa500;
    margin-top: 20px;

}

.services .card .card-body h3 {
    font-weight: 600;
}

.services .card .card-body {
    text-align: center;
}

.services .card:hover {
    transform: translateY(-13px) !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

/* Section Services End */

.nav-item {
    transition: transform 0.5s ease-in-out;

}


.nav-item.animate {
    transform: scale(1.2);
}


/* about section */

#about-section {
    height: 100vh;

    background: url('./images/india.png');
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#abour-section::before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.container .about-img img {
    margin-top: 90px;
    height: 400px;
    width: 400px;
    animation: float 1.5s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem)
    }

    50% {
        transform: translateY(-3.5rem);
    }
}

#about-section .container .main-txt .main-1 h1 {
    margin-top: 150px;
    position: absolute;
    top: 300px;
}


/* form */

.about-btn {
    display: flex;
    gap: 20px;

}

.about-btn button {
    border: none;
    background-color: white;
    transition: 0.2s ease-in;
    padding-left: 20px;
    padding-right: 0px;

    border-radius: 30px;
    text-align: start;

}

input:focus {
    outline: none;
}

.about-btn button {
    height: 60px;
    width: 120px;
    margin-top: 30px;
    border: 2px solid var(--primary-text) !important;
    background: transparent;
}

.about-btn button:hover {
    background-color: var(--primary-color);
    transform: translatey(-0.2rem);
}


#about-section form input {
    margin-top: 40px !important;
}

#about-section table {
    margin-top: 50px;
}


/* custom code */

/* weather */

#weather {
    background: url(images/about-img.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.custom-text {
    margin-top: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    padding: 20px;
    border-radius: 8px;
}

/* gallery section */

#gallery{
    height: 100vh;
    background-color: var(--text-gray);
}
#gallery .row{

    margin-top: 0px;

}

.gallery-card{
    overflow: hidden;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.gallery-card:hover{
    transform: translateY(-0.4rem);
    /* box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px; */
}


.gallery-card img{
    transition: all 2s ease-in-out;
    overflow: hidden;
}

.gallery-card img:hover{
transform: scale(1.0);
}



#gallery .gallery-card img{
    height: 250px;
    width: 370px;
    margin-top: 30px;
    border-radius: 10px;
}

#safety{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.safety-container{
    margin-top: 20px;
    
 
 
    /* border: 1px solid black; */
    justify-content: center;
    padding-bottom: -100px;
    line-height: 30px;
    text-align: justify;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 38px;
    border-radius: 10px;
    margin-top: 60px;

}
.tab-pane{
    font-style: italic;
}

#safety .container{
    
    margin-top: 50px;
}

#safety .nav-link,
#safety .nav-link.active{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px;
    border-radius: 20px;
}

#safety .nav-link.active{
    background-color: var(--main-text);
}
#safety .nav-link:hover,
#safety .nav-link.active:hover{
    background: var(--primary-text);
}

#safety .container button{
    color: black;
    margin-top: 50px;
    
}

#safety .container .nav-pills{
    margin-left: 28vw;
}

#safety .main-txt{
    margin-top: 80px;
}


#safety .container button:hover{
    color: white;
}

.safety-air-img img{
    height: 500px;
    width: 450px;
    margin-left: 60px;
    border-radius: 20px;
    animation: airfloat 2s linear infinite;
    margin-top: 30px;
}

@keyframes airfloat {

    0%,100%{
        transform: translateY(0rem);

    }
    50%{
        transform: translateY(-3.5rem);
    }
    
}

.safety-txt{
    margin-right: 30px;
}

